@using HotelManagementSystem.Web.ViewModels.Reservation
@using static HotelManagementSystem.Common.EntityValidationConstants.Reservation;
@model AddReservationFormModel
@{
    ViewData["Title"] = "Create Reservation";
}

<h2 class="my-4 text-center">Create a Reservation</h2>

<form asp-action="Make" method="post">
    <div class="mb-3">
        <label class="form-label">Room</label>
        <input type="text" class="form-control" value="Room @Model.Room.RoomNumber" readonly />
        <input asp-for="Room.Id" type="hidden" id="roomId" />
        <input asp-for="Room.RoomNumber" type="hidden"/>
        <input asp-for="Room.PricePerNight" type="hidden"/>
    </div>

    <div class="mb-3">
        <label for="checkInDate" class="form-label">Check-In Date</label>
        <input asp-for="CheckInDate" class="form-control" id="checkInDate" readonly>
        <span asp-validation-for="CheckInDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="checkOutDate" class="form-label">Check-Out Date</label>
        <input asp-for="CheckOutDate" class="form-control" id="checkOutDate" readonly>
        <span asp-validation-for="CheckOutDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TotalPrice" class="form-label">Total Price</label>
        <input asp-for="TotalPrice" type="text" class="form-control" id="totalPrice" readonly  />
    </div>

    <button type="submit" class="btn btn-primary mb-1">Submit</button>
</form>

<a asp-controller="Room" asp-action="Details" asp-route-roomId="@Model.Room.Id" class="btn btn-secondary">Back to Room Details</a>

<script src="~/js/manageReservations.js"></script>

