@using HotelManagementSystem.Web.ViewModels.Reservation
@model IEnumerable<ReservationIndexViewModel>

<h2>Reservations</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Room</th>
            <th scope="col">Check-In</th>
            <th scope="col">Check-Out</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.RoomNumber</td>
                <td>@reservation.CheckInDate</td>
                <td>@reservation.CheckOutDate</td>
                <td>
                    <a asp-action="Cancel" asp-route-id="@reservation.Id" class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
